<div class="card mat-elevation-z2" *ngIf="product.title" >
  <h2>{{ product.title }}</h2>
  <h4>{{ product.price | currency: 'USD':'symbol' }}</h4>
  <div class="container">
    <img 
      *ngIf="product.imageUrl"
      [src]="product.imageUrl"
      [alt]="product.title"
      class="mat-elevation-z2">
  </div>

  <div class="actions" *ngIf="showActions && shoppingCart">
    <button
      *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
      (click)="addToCart()"
      mat-raised-button>Add to Cart</button>
    <ng-template #updateQuantity>
      <app-product-quantity [product]="product" [shoppingCart]="shoppingCart"></app-product-quantity>
    </ng-template>
  </div>
</div>