<mat-card *ngIf="product.title" class="mat-elevation-z2">
  <mat-card-title>{{ product.title }}</mat-card-title>
  <mat-card-subtitle>{{ product.price | currency: 'USD':'symbol' }}</mat-card-subtitle>
  <img 
    *ngIf="product.imageUrl"
    [src]="product.imageUrl"
    [alt]="product.title"
    class="mat-elevation-z2">
  <mat-card-actions *ngIf="showActions && shoppingCart">
    <button
      *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
      (click)="addToCart()"
      mat-raised-button>Add to Cart</button>
    <ng-template #updateQuantity>
      <app-product-quantity [product]="product" [shoppingCart]="shoppingCart"></app-product-quantity>
    </ng-template>
  </mat-card-actions>
</mat-card>