<mat-toolbar color="primary">
    <button mat-button routerLink=".">Organic Shop</button>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button>
        <mat-icon routerLink="shopping-cart" matTooltip="Go to Shopping Cart">shopping_cart</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu" yPosition="below" [overlapTrigger]="false">
        <ng-template #anonymousUser>
            <button mat-menu-item routerLink="login">Login</button>
        </ng-template>
        <ng-container *ngIf="appUser; else anonymousUser">
            <button mat-menu-item routerLink="my-orders">My Orders</button>
            <ng-container *ngIf="appUser.isAdmin">
                <button mat-menu-item routerLink="admin-orders">Manage Orders</button>
                <button mat-menu-item routerLink="admin-products">Manage Products</button>
            </ng-container>
            <button mat-menu-item (click)="logout()">Log Out</button>
        </ng-container>
    </mat-menu>
</mat-toolbar>