<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
  <p>
    You have {{ cart.totalItemsCount }} items in your shopping cart.
  </p>
  <div class="mat-elevation-z2">
      <table mat-table [dataSource]="cart.cartItems">
    
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Product </th>
          <td mat-cell *matCellDef="let cartItem"> {{ cartItem.product.title }} </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let cartItem"> {{ cartItem.quantity }} </td>
        </ng-container>
    
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let cartItem"></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let cartItem; columns: displayedColumns;">
        </tr>
      </table>
    </div>
</ng-container>