<p>
  <button 
    routerLink="/admin/products/new"
    mat-raised-button color="primary">New Product</button>
</p>
<!-- TODO: Add Autocomplete from Angular Material? -->
<mat-form-field>
  <input matInput [(ngModel)]="value" (keyup)="applyFilter($event.target.value)" placeholder="Filter...">
  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value = ''; applyFilter('')">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<div class="mat-elevation-z2">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let product"> {{product.title}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let product"> {{product.price | currency: 'USD' }} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let product">
        <button 
          [routerLink]="['/admin/products/', product.key]"
          mat-button color="primary">Edit
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let product; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>