<mat-grid-list cols="2" gutterSize="8">
    <mat-grid-tile *ngFor="let product of filteredProducts">
        <mat-card class="mat-elevation-z2">
            <mat-card-title>{{ product.title }}</mat-card-title>
            <mat-card-subtitle>{{ product.price | currency: 'USD':'symbol' }}</mat-card-subtitle>
            <img mat-card-image *ngIf="product.imageUrl" [src]="product.imageUrl" class="mat-elevation-z2"> 
            <button mat-raised-button color="primary">Add to Cart</button>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

